<div class="container">
    <h1>Assign/Release copy of a book</h1>
    <hr />

    <form method="POST" [formGroup]="assignReleaseFormGroup">
        <div class="form-group">

            <select class="form-control"  formControlName="operationType">
                <option checked value="assign">Assign Book</option>
                <option value="release">Relase Book</option>
                
              </select>


          
        </div>
        <div class="form-group" style="margin-top: 45px">
            <label for="bookId">Book ID</label>
            <input type="text" id="bookId" name="bookId" class="form-control" formControlName="bookId"  />
            <div class="alert alert-danger" *ngIf="bookId.invalid && bookId.touched">
                Invalid Book ID
            </div>

          </div>
        <div class="form-group">
            <label for="memberId">Member ID</label>
            <input type="text" id="memberId" name="memberId" class="form-control" formControlName="memberId"  />
         
            <div class="alert alert-danger" *ngIf="memberId.errors?.minlength && memberId.touched">
               Minimum length is 6
            </div>

            <div class="alert alert-danger" *ngIf="memberId.errors?.required && memberId.touched">
                Required field
            </div>

          </div>
        <div class="form-group">
      
            <input type="submit" (click)="updateBook()" [disabled]="assignReleaseFormGroup.invalid"  value="{{operationType.value | titlecase}}" class="btn btn-primary" />
        </div>
    </form>
  </div>